### Here is an example to set project environment variables
# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.example        contains example values for the environment variables needed by the app

### APP ###
APP_NAME=Blog-pro

### DATABASE ###
DBHOST=database-host
DBUSER=database-user
DBPASS=database-password
DBNAME=database-name

### MAILER ###
USERMAILER=mail@a.fr
# PASSMAILER=uzavmghsenzffmrg
PASSMAILER=mail-password
