{% extends 'base.twig' %}

{% block title %}Blog - {{ site_name }}{% endblock %}

{% block body %}

{% set role = null %}
{% if user.role is same as "admin" %}
{% set role = "admin" %}
{% else %}
{% set role = "utilisateur" %}
{% endif %}

<header class="py-5 bg-image-full" style="background-image: url('{{ ROOT }}images/background/blackwaves.jpg')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4 separation " src="{{ ROOT }}images/deco/lineface.png" alt="..." />
        {% if user.role is same as "admin" %}
        <h1 class="text-white  fw-bolder">Page d'administration</h1>
        {% else %}
        <h1 class="text-white  fw-bolder">Mon compte</h1>
        {% endif %}
    </div>
</header>

{% if user.role is same as "admin" %}
{# general container of the admin part + aside #}
<div class="container p-0">

    <div class="row">
        {# General container of the Item Category Sub-Menus tabulation system #}
        <section class="my-5 tab-container">

            {# Button Container #}
            <div class="tabs col-12 d-flex flex-column flex-md-row">
                {# Button 1 (displayed by default with active class) #}
                <div class="tab border d-flex align-items-center bg-dark text-white col-md-4 active" data-open="view1">
                    <h3 class="text-center mx-auto">Mes informations</h3>
                </div>
                {# Button 2 #}
                <div class="tab border d-flex align-items-center bg-dark text-white col-md-4 " data-open="view2">
                    <h3 class="text-center mx-auto">Nouvel article</h3>
                </div>
                {# Button 3 #}
                <div class="tab border d-flex align-items-center bg-dark text-white col-md-4 " data-open="view3">
                    <h3 class="text-center mx-auto">Gestion des utilisateurs</h3>
                </div>
            </div>

            {# Container of views corresponding to buttons #}
            <div class="views">
                {# View 1 - My information (displayed by default with the active class) #}
                <div class="view active" id="view1">
                    {% include 'admin/partial/userPage.twig' %}
                </div>{# End view 1 #}

                {# View 2 - Add item #}
                <div class="view" id="view2">
                    {% include 'admin/partial/createPost.twig' %}
                </div>{# End view 2 #}

                {# View 3 - Users #}
                <div class="view " id="view3">
                    {% include 'admin/partial/manageUser.twig' %}
                </div> {# End view 3 #}
            </div>

        </section>
    </div>
</div>
{% else %}
{% include 'admin/partial/userPage.twig' %}
{% endif %}

{% endblock body %}