{% extends "base.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %}
{# article #}
<section class="py-5">
    <div class="container mt-5 mb-1">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center text-capitalize pb-5 mb-5">{{ post.title }}</h2>
                <p class="lead my-5">{{ post.lead }}</p>
                <p>{{ post.content }}</p>
                <p class="blockquote-footer d-flex justify-content-end pt-5">Mise à jour le {{ post.update_date |
                    date("d/m/Y",
                    "Europe/Paris") }}</p>
                {# btn de modération - todo ajouter un hover#}
                {% if session.logUser is same as 'admin' %}
                <div class="d-flex justify-content-end me-2">
                    <div class="p-1 ">
                        <a class=" btn btn-darkblue " href="#!" title="Modifier l'article"><i class="fas fa-edit"></i></a>
                    </div>
                    <div class="p-1 ">
                        <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?')"
                        class=" btn btn-darkblue " href="#!" title="Supprimer l'article"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


</section>

{# comments list #}
<section class="py-5">
    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <div>
                        <img src="../public/images/logo/origami.png" class="separation2 logo" alt="separation small">
                        <img src="../public/images/logo/origami.png" class="separation logo" alt="separation">
                        <img src="../public/images/logo/origami.png" class="separation2 logo" alt="separation small">
                    </div>
                    <h2 class="fs-3 mt-1">Commentaires</h2>
                </div>
                {# block commentaire (boucle) #}
                <div class="">
                    <div class="d-flex justify-content-between">
                        <div class="pe-3">
                            <img class="img-fluid rounded-circle mb-4 avatar" src="../public/images/avatar/arcade.PNG "
                                alt="..." />
                            <p class="fs-5">Auteur</p>
                        </div>
                        <div class="ps-3 pt-2">
                            <p class="small text-center ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Expedita,
                                voluptatibus? Sequi, quos. Temporibus, cupiditate alias, laborum ipsum ratione enim
                                odio
                                magnam iusto eaque fugiat pariatur dolore sint quo fugit necessitatibus.</p>
                            <p class="blockquote-footer d-flex justify-content-end mt-2">Le 20/02/2023</p>
                        </div>
                    </div>
                    {# btn de modération #}
                    <div class="d-flex justify-content-end me-2">
                        {% if session.logUser is same as 'admin' %}
                        <div class="p-2 ">
                            <a class=" btn btn-darkblue " href="#!" title="Valider le commentaire"><i
                                    class="fas fa-regular fa-square-check alert-success "></i></a>
                        </div>
                        {% endif %}
                        {# todo : ajout d'une condition si sessionUserId = comment.id_user #}
                        {% if session.logUser is same as 'admin' %}
                        <div class="p-2 ">
                            <a class=" btn btn-darkblue " href="#!" title="Modifier le commentaire"><i
                                    class="fas fa-edit"></i></a>
                        </div>
                        <div class="p-2 ">
                            <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')"
                                class=" btn btn-darkblue " href="#!" title="Supprimer le commentaire"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>


                {# block commentaire (boucle) #}
                <div class="">
                    <div class="d-flex justify-content-between">
                        <div class="pe-3">
                            <img class="img-fluid rounded-circle mb-4 avatar"
                                src="../public/images/avatar/137904_rAxFeqys.png " alt="..." />
                            <p class="fs-5">Auteur</p>
                        </div>
                        <div class="ps-3 pt-2">
                            <p class="small text-center ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Expedita,
                                voluptatibus? Sequi, quos. Temporibus, cupiditate alias, laborum ipsum ratione enim
                                odio
                                magnam iusto eaque fugiat pariatur dolore sint quo fugit necessitatibus.</p>
                            <p class="blockquote-footer d-flex justify-content-end mt-2">Le 26/02/2023</p>
                        </div>
                    </div>
                    {# btn de modération #}
                    <div class="d-flex justify-content-end me-2">
                        <div class="p-2 ">
                            <a class=" btn btn-darkblue " href="#!" title="Valider le commentaire"><i
                                    class="fas fa-regular fa-square-check alert-danger "></i></a>
                        </div>
                        <div class="p-2 ">
                            <a class=" btn btn-darkblue " href="#!" title="Modifier le commentaire"><i
                                    class="fas fa-edit"></i></a>
                        </div>
                        <div class="p-2 ">
                            <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')"
                                class=" btn btn-darkblue " href="#!" title="Supprimer le commentaire"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# comments form #}
{% if session.logVisitor is same as false %}
<section class="py-5">
    <div class="container mb-2">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="fs-3 mb-5" title="Donner votre avis">Donner votre avis
                </h2>

                <form name="sentComment" id="CommentForm" novalidate>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name" required
                            data-validation-required-message="Merci d'entrer votre nom."
                            title="Veuillez renseigner votre nom">
                        <p class="help-block text-danger"></p>
                        <label for="floatingInput">Nom</label>
                    </div>

                    <div class="form-floating mb-3 controls">
                        <input type="text" class="form-control" id="floatingInput" placeholder="firstname" required
                            data-validation-required-message="Please enter your name."
                            title="Veuillez renseigner votre prénom">
                        <label for="floatingInput">Prénom</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            title="Veuillez renseigner votre email">
                        <label for="floatingInput">Adresse email</label>
                    </div>
                    {#INVALID INPUT
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control is-invalid" id="floatingInputInvalid"
                            placeholder="name@example.com" value="test@example.com">
                        <label for="floatingInputInvalid">Invalid input</label>
                    </div> #}
                    <div class="form-group mb-3 controls">
                        <textarea rows="7" class="form-control" placeholder="Laisser votre commentaire"
                            id="floatingTextarea2" required
                            data-validation-required-message="Please enter ypur comment."
                            title="Laisser votre commentaire"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>

                    <br>

                    <div id="success"></div>
                    <div class="form-group text-center d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-secondary" id="sendMessageButton"
                            title="Envoyer">Envoyer</button>
                        <button type="reset" class="btn btn-outline-secondary" id="resetMessageButton"
                            title="Réinitialiser">Réinitialiser</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}