{% extends "base.twig" %}

{% block title %} Création de comtpe {% endblock %}

{% block body %}
<h1>Bienvenue !</h1>
<p>Vous avez bien créer votre compte</p>
{% block content %}

{% if mailType is same as 1 %}
<p>Un lien d'activation vous a été envoyé à l'adresse e-mail que vous nous avez indiquée. Merci de cliquer  sur ce lien pour activer votre compte.</p>
<p>Votre compte doit être activé afin d'avoir la possibilité de commenter et d'accéder à votre espace personnel.</p>
{% endif %}

{% if mailType is same as 2 %}
<p>Un lien d'activation vous a été envoyé à la nouvelle adresse e-mail que vous nous avez indiquée. Merci de cliquer  sur ce lien pour réactiver votre compte.</p>
<p>Votre adresse mail doit être vérifiée afin d'avoir de nouveau la possibilité de commenter et d'accéder à votre espace personnel.</p>
{% endif %}

{% endblock content %}
{% endblock body %}