{% extends "base.twig" %}

{% block title %} Création de comtpe {% endblock %}

{% block body %}
<h1>Bienvenue !</h1>
<p>Vous avez bien créer votre compte</p>
{% block content %}
<p>Un mail vous a été envoyé afin de confirmer votre compte.</p>
<p>Votre compte doit être vérifié afin d'avoir la possibilité de commenter et d'accéder à votre espace personnel.</p>
{# {% include "post/index.twig" %} #}
{% endblock content %}
{% endblock body %}