{% extends "base.twig" %}

{% block title %} Confirmation de compte {% endblock %}

{% block body %}
<h1>Vous avez bien confirmé votre adresse mail !</h1>

{% block content %}
{# {% include "post/index.twig" %} #}
{% endblock content %}
{% endblock body %}