{% extends "base.twig" %}
{% block title %} Déconnexion {% endblock %}

{% block body %}
<h1>Vous avez bien été déconnecté</h1>

{% block content %}
{# {% include "post/index.twig" %}#}
{% endblock content %}
{% endblock body %}