{% extends "base.twig" %}

{% block title %} Utilisateur non vérifié {% endblock %}

{% block body %}
<h1>Utilisateur non vérifié</h1>

{% block content %}
{# {% include "post/index.twig" %} #}
{% endblock content %}
{% endblock body %}