{% extends "base.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %}
<h1>S'enregistrer</h1>

{% block content %}
{# {% include "post/index.twig" %} #}
{% endblock content %}
{% endblock body %}