{% extends "base.twig" %}

{% block content %}
<section class="py-3">
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="text-center mb-3">Vous avez bien été déconnecté</h1>
                <p class="lead text-center mt-5 mb-0">Retourner sur la page d'accueil</p>
                <img src="{{ ROOT }}images/page_erreur/logout.jpg" class="img-fluid mx-auto d-block"
                alt="confirmation déconnexion">
            </div>
        </div>
    </div>
</section>
{% endblock %}