{% extends "base.twig" %}

{% block content %}
<section class="py-3">
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="text-center">Nous ne vous reconnaissons pas !</h1>
                <p class="lead text-center mb-0"><a href="">Mot de passe oublié</a></p>
                <img src="{{ ROOT }}images/page_erreur/ooopsCat.jpg" class="img-fluid mx-auto d-block"
                    alt="page d'erreur- oops cat">
            </div>
        </div>
    </div>
</section>
{% endblock %}