{% extends "base.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %}
{# Header - set the background image for the header in the line below #}
<header class="py-5 bg-image-full" style="background-image: url('{{ ROOT }}images/background/blackwaves.jpg')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{{ ROOT }}images/avatar/myavatar2.png" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Beninca Aurélie</h1>
        <p class="text-white-50 mb-0">Phrase d'accroche</p>
    </div>
</header>
{# Content section #}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div id="identity" class="col-lg-6">
                <h2>Full Width Backgrounds</h2>
                <p class="lead">A single, lightweight helper class allows you to add engaging, full width background
                    images to sections of your page.</p>
                <p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting
                    here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in
                    the universe.</p>
                <a class="mt-5 d-flex justify-content-end" href="{{ ROOT }}images/CV_2022-03-03_Aurélie_BENINCA D.pdf"
                    target="_blank" id="CV-link" download="CV.pdf"><i class="fa-solid fa-rocket px-2"></i> Mon Cv en
                    PDF</a>
            </div>
        </div>
    </div>
</section>
{# Image element - set the background image for the header in the line below #}
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    {# Put anything you want here! The spacer below with inline CSS is just for demo purposes! #}
    <div style="height: 20rem"></div>
</div>
{# Content section #}
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center mb-5" title="Contactez moi !">Contactez moi !</h2>

                <form method="post" action="home/contact" name="contactForm" id="contactForm">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastname" name="lastname"
                            placeholder="lastname" autocomplete="on" required data-validation-required-message="Merci d'entrer votre nom."
                            title="Veuillez renseigner votre nom">
                        <p class="help-block text-danger"></p>
                        <label for="lastname">Nom</label>
                    </div>

                    <div class="form-floating mb-3 controls">
                        <input type="text" class="form-control" id="firstname" name="firstname"
                            placeholder="firstname" autocomplete="on" required data-validation-required-message="Please enter your name."
                            title="Veuillez renseigner votre prénom">
                        <label for="firstname">Prénom</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="name@example.com" autocomplete="on" required
                            title="Veuillez renseigner votre email">
                        <label for="email">Adresse email</label>
                    </div>

                    <div class="form-group mb-3 controls">
                        <textarea type="text" rows="7" class="form-control" name="content" id="floatingTextarea2"
                            placeholder="Merci de laisser votre message" required
                            data-validation-required-message="Please enter a message."
                            title="Veuillez entrer un message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>

                    <br>

                    <div id="success"></div>
                    <div class="form-group text-center d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-secondary" id="sendMessageButton"
                            title="Envoyer">Envoyer</button>
                        <button type="reset" class="btn btn-outline-secondary" id="resetMessageButton"
                            title="Réinitialiser">Réinitialiser</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}