{% extends "base.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %}
<header class="py-5 bg-image-full" style="background-image: url('{{ ROOT }}images/background/blackwaves.jpg')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4 separation " src="{{ ROOT }}images/deco/lineface.png" alt="..." />
        <h1 class="text-white  fw-bolder">Mon compte</h1>
    </div>
</header>

{% block content %}

{% include 'admin/partial/userPage.twig' %}

{% endblock content %}

{% endblock body %}